@import url('https://fonts.googleapis.com/css2?family=Orelega+One&family=Rubik+Mono+One&display=swap');
body{
    font-size: 24px;
    background-image: url(../img/musicBack.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    cursor: url(../img/cursor.png), default;
}
.wrapper{
    width: 1300px;
    margin: 0 auto;
}
.header{
    font-family: "Rubik Mono One";
    font-size: 23px;
    text-align: center;
    margin-top: 40px;
}
.logo{
    width: 50%;
}
.nav-link{
    text-decoration: none;
    margin-left: 29px;
    color: #3b3b3b;
}
.nav-link:hover{
    color: #5a0212;
}
.h2{
    padding-top: 20px;
    text-align: center;
}
.footer{
    text-align: center;
    color: white;
}
.footer-p{
    width: 100%;
}
.section-music{
    text-align: center;
    color: white;
    opacity: .7;
    margin-top: 100px;
}
.audio-item{
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #fff;
}
audio{
    width: 450px;
    align-self: center;
}
p{
    width: 10%;
}